ul{
    padding:0;
    list-style-type: none;
}
a{
    text-decoration: none;
    padding : 0 20px;
}
a:hover{
    color:violet;
}

li{
    font-weight:500;
    font-size: large;
}

.nav-items{
    display: flex;
    align-items: center;

}

.container{
    margin: 0 5%;
}
.navbar{
    display:flex;
    justify-content: space-between;
    align-items:center;
}

.resume{
    background-color: blueviolet;
    padding: 5px 15px;
    border-radius:5px;
}