.icon{
    
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.icon img{
    margin-right:20px;
}

@media screen and (max-width:1190px){
    .icon{
        font-size: 20px;
        display: flex;
        flex-direction: row;
    }
    

}